
.game_wrapper {
    width: 100%;
    height: 100%;
    position: relative;    
}
.title_wrapper   {
    background-color: #efefef;
    height: 125px;
    display: table-cell;
}

.title_wrapper .logo_wrapper {
    position: relative;
    float: left;
    height: 136px;
}
.title_wrapper .logo {
    background-image: url('../assets/sasuke_logo.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 125px;
}

.game_wrapper .quote {
    position: relative;
    float: left;
    top: 78%;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: bolder;
    color: #0f1c4c;
    margin-left: 25px;
    width: 100%;
}
.gamebody {
    width: 100%;
    position: relative;
    background-color: #072528;
    color: black;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.game {
    background-size: contain;
    background-repeat: no-repeat;
    height: 300px;
    margin-right: 20px;
    width: 343px;
    float: left;
    margin-left: 20px;
}
.table_tennis {
    background-image: url('../assets/table_tennis.jpeg');
    display: table-column-group;
}
.talking_parrot {
    background-image: url('../assets/parrot.jpeg');
    display: table-column-group;
}

@media only screen and (max-width: 500px) {
    .title_wrapper .quote {
      top: 7%;
    }
  }

  @media only screen and (max-width: 750px) {
    .gamebody {
        display: block;
    }
  }