body {
    background-color:#efefef;
}

.welcome_msg {
    margin-bottom: 10px;
    position: relative; 
    width: 100%;
    margin-top: 33px;
    font-size: 25px;
    font-family: monospace;
}

.togglePage {
    display: table-cell;
    padding-left: 6px; 
}

.togglePage:hover {
    cursor: pointer;
}