.loginForm {
    width: 300px;
    height: 400px;
    background-color: white;
    border-radius: 10% 10% 10% 10%;
    position: relative;
    top: 50px;
    border: 2px solid #deded0;
}
.loginForm .welcome_msg {
    margin-bottom: 10px;
    position: relative; 
    width: 100%;
    margin-top: 33px;
    font-size: 25px;
    font-family: monospace;
}

.loginForm .login_logo {
	background-image: url('../assets/login_logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    top: 78px;
    left: 100px;
    position: absolute;
    border-radius: 25%;
}

.loginForm .formContent {
    /* position: relative;
    top: 30%; */
    text-align: center;
}

.loginForm .inputField1 {
    top: 150px;
    position: relative;
    border: none;
    border-bottom: 2px solid #7fbddc;
}

.loginForm .inputField2 {
    top: 160px;
    position: relative;
    border: none;
    border-bottom: 2px solid #7fbddc;
  }

.loginForm .submitBtn {
    position: absolute;
    left: 21%;
    top: 73%;
}

.loginForm .submitBtn button {
    background-color: #1c3133;
    color: white;
    width: 172px;
}

.loginForm .dont_have_accnt {
    position: absolute;
    top: 90%;
    left: 43px;
}
body {
    background-color:#44242414;
}