
.signUpForm {
    width: 400px;
    height: 500px;
    background-color: white;
    border-radius: 10% 10% 10% 10%;
    position: relative;
    top: 50px;
    border: 2px solid #deded0;
}


.signUpForm .signup_logo {
	background-image: url('../assets/login_logo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 61px;
    width: 100%;
    top: 78px;
    position: absolute;
}

.signUpForm .formContent {
    text-align: center;
}

.signUpForm .inputField1 {
    top: 150px;
    position: relative;
    border: none;
    border-bottom: 2px solid #7fbddc;
}

.signUpForm .inputField2 {
    top: 160px;
    position: relative;
    border: none;
    border-bottom: 2px solid #7fbddc;
  }

.signUpForm .submitBtn {
    position: absolute;
    left: 21%;
    top: 73%;
}

.signUpForm .submitBtn button {
    background-color: #1c3133;
    color: white;
    width: 172px;
}

.signUpForm .dont_have_accnt {
    position: absolute;
    top: 90%;
    left: 69px;
    display: table;     
}
body {
    background-color:#44242414;
}