.popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
  }  
  .popup_inner {  
    bottom: 25%;  
    margin: auto;  
    border-radius: 20px;  
    top: 50%;
    position: relative;
  }

  .popup_inner button {
    font-size: 20px;
    font-weight: bolder;
    font-family: monospace;
    border-radius: 20px;
  }

  .popup_inner button:hover {
      cursor: pointer;
  }
  